body {
  background-image: url(/img/FondoAlt.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Open Sans", sans-serif;
  color: #333333;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
a:link,
a:visited{
  text-decoration: none;
}
.box-form {
  margin-top: 6vh;
  width: auto;
  background: #FFFFFF;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  align-items: stretch;

}
.box-form div {
  height: auto;
}
.box-form .left {
  color: #FFFFFF;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  overflow: hidden;
}
.box-form .left .overlay {
  padding: 30px;
  width: 100%;
  height: 100%;
  background: rgb(37, 150, 190);
  overflow: hidden;
  box-sizing: border-box;
}
.box-form .right {
  padding: 40px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-content: center;
  column-gap: 15em;
}
.texto{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  column-gap: 5%;
}
.imagen{
  margin-right: 4em;
  position: relative;
  top: 40%;
}
.box-form .right h5 {
  font-size: 7rem;
  margin-bottom: 20px;
}
.box-form .right input {
  width: 100%;
  padding-bottom: 10px;
  margin-top: 25px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid #7f828a;
}
.box-form .right .button {
  color: #fff;
  height: 3.0em;
  width: 8em;
  font-size: 20px;
  padding: 12px 35px;
  border-radius: 50px;
  border: 0;
  outline: 0;
  background-color: rgb(37, 150, 190);
  position: relative;
  left: 6em;
}

.css-button-sharp--grey {
  border-radius: 50px;
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: 3px solid #495057;
  background: #495057;
}
.css-button-sharp--grey:hover {
  background: #fff;
  color: #495057;
  border: 3px solid #495057;
}
/* CLOSING MARK */
.modal__close{
  color: red;
  font-size: 4em;
  position: absolute;
  top: 2em;
  right: 5em;
  z-index: 2;
}
/* ERROR MSG ON LOGIN */

.error{
  position: absolute;
  top: 72%;
  opacity: 100%;
}
.mal{
  background-color: #f2dede;
  color: #b94a48;
  font-size: 3em;
  padding: 10px;
  border-radius: 10px;
}